<!DOCTYPE html>
<meta charset="utf-8">

<head>
    <title>Accident sites</title>
    <link rel="stylesheet" type="text/css" href="./static/style/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./static/style/exhibition.css">
</head>


<body>
    <div class="slide">
        <div name="crumb"></div>
        <div name="viewof place"></div>
        <div name="viewof d"></div>
        <div name="dataFrame"></div>
        <div name="toStart"></div>
    </div>

    <div name="decade"></div>
    <div name="getChart"></div>
    <div name="categoryDataByDecade"></div>
    <div name="_categoryDataByDecade"></div>
    <div name="breadCrumb"></div>
    <div name="backToStart"></div>
    <div name="htl"></div>
    <div name="d3"></div>

    <script src="./static/modules/htl.js"></script>
    <script src="./static/modules/d3.js"></script>
    <script src="./static/modules/d3-selection.js"></script>
    <script src="./static/modules/d3-array.js"></script>
    <script src="./static/modules/d3-hierarchy.js"></script>
    <script src="./static/modules/inputs.js"></script>
    <script src="./static/modules/lodash.js"></script>
    <script src="./static/modules/moment.js"></script>
    <script src="./static/modules/plot.js"></script>
    <script type="module">

        import { Runtime, Library, Inspector, RuntimeError } from "./static/core/runtime.js";
        import notebook from "./slide5/8a7a308522fd592b@271.js";

        const runtime = new Runtime(
            new Library(name => {
                console.log("library:", name)
                switch (name) {
                    case "d3": return d3;
                    case "d3-selection@2": return d3;
                    case "d3-array@3": return d3;
                    case "d3-hierarchy@3": return d3;
                    case "moment@2.29.4": return moment;
                    case "lodash@4.17.21": return _;
                    case "@observablehq/inputs@0.10.4": return Inputs;
                    case "@observablehq/plot@0.5.2": return Plot;
                    case "htl@0.3.1": return htl;
                }
            })
        );

        // Show the output of the “chart” and “viewof replay” cells in the DIV elements
        // with the corresponding name.
        const main = runtime.module(notebook, name => {
            console.log("cell name:", name)
            if (["crumb", "viewof place", "dataFrame", "toStart"].includes(name)) {
                return new Inspector(document.querySelector(`[name='${name}']`));
            }
        });

        // Redefine the “data” cell to use our CSV file (in the same format).
        // main.redefine("data", d3.csv("./cities.csv", d3.autoType));

        // Redefine the “k” cell to disable tweening between keyframes. (This dataset is
        // already interpolated.)
        // main.redefine("k", 1);

    </script>
</body>

</html>